@import url(css/spectre.css);
@import url(css/spectre-icons.css);
@import url(css/font-awesome.min.css);
body {
  background: #ffffff;
  line-height: 1.7;
  padding: 0px;
  margin: 0px; }

pre b {
  font-family: "Microsoft YaHei";
  font-weight: 400; }

.bg-grey {
  background: #f1f1f1 !important; }

.padding30 {
  padding: 0 30px; }

.btn-width {
  width: 100%; }

.margin-width {
  margin: 0px 35%; }

.margin20 {
  margin-top: 20px; }

.question-link {
  color: #777; }
  .question-link:hover {
    text-decoration: none; }

#login-panel {
  background: #ffffff;
  margin-top: 40px; }
  #login-panel h3 {
    line-height: 2; }
  #login-panel .padding20 {
    padding: 10px 20px; }

.navbar {
  padding: 20px;
  background: rgba(255, 255, 255, 0.1); }

.navbar-section input {
  background: rgba(255, 255, 255, 0.2);
  color: #aaa;
  border: 0px;
  margin-right: 7px; }
  .navbar-section input:focus {
    border: 0px; }
.navbar-section .dropdown {
  margin-left: 10px; }
  .navbar-section .dropdown .menu {
    background: #333333; }
    .navbar-section .dropdown .menu a {
      color: #ccc; }

#welcome {
  background: url("/img/bg.jpg") #000;
  background-size: 100% auto;
  background-position-y: -50px;
  margin-top: -72px;
  height: 700px;
  background-repeat: no-repeat; }
  #welcome .wecome-text {
    text-align: left;
    margin-top: 175px;
    margin-left: 100px;
    color: #ddd; }
  #welcome .welcome-panel {
    background: rgba(0, 0, 0, 0.7);
    height: 400px;
    margin: 30px 40px; }
    #welcome .welcome-panel .column {
      background: rgba(255, 255, 255, 0.2);
      margin: 2%;
      color: #fff;
      height: 100px;
      font-size: 15px; }
      #welcome .welcome-panel .column small {
        margin-left: 0px;
        display: block;
        position: absolute;
        color: #ccc; }
      #welcome .welcome-panel .column p {
        font-size: 20px;
        line-height: 80px; }
      #welcome .welcome-panel .column a {
        color: #fff;
        transition: 200ms; }
        #welcome .welcome-panel .column a:hover {
          text-decoration: none;
          font-size: 105%; }
  #welcome .user-edit {
    line-height: 2.5;
    padding: 0 10%; }
    #welcome .user-edit input {
      background: rgba(255, 255, 255, 0.1);
      color: #fff; }
    #welcome .user-edit label {
      text-align: left;
      color: #999; }

#main-container {
  width: 100%;
  background: #23282d;
  margin: 0 !important;
  padding: 0 !important; }
  #main-container .sidebar {
    width: 17%; }
    #main-container .sidebar h3 {
      display: block;
      margin: 25px auto;
      text-align: center;
      color: #ccc;
      padding-bottom: 25px;
      font-weight: 400;
      border-bottom: 1px solid #555; }
    #main-container .sidebar .sidebar-menu {
      padding: 0;
      margin: 20px auto;
      list-style: none; }
      #main-container .sidebar .sidebar-menu li {
        margin-left: 0px;
        margin-top: 0px;
        text-align: center; }
        #main-container .sidebar .sidebar-menu li a {
          color: #eee;
          font-size: 14px;
          padding: 10px 35px 10px 30px;
          transition: 200ms;
          width: 100%;
          display: block; }
          #main-container .sidebar .sidebar-menu li a:hover {
            text-decoration: none;
            margin-left: 5px;
            background: #32373c; }
  #main-container .content {
    width: 83%;
    background-color: #fff; }
    #main-container .content h4 .label {
      float: right; }

/*# sourceMappingURL=style.css.map */
